---
permalink: /
title: Water theme for Cobalt
---
      <section>
        <h3>Simple</h3>
        <p>With minimal visual clutter, the main focus is on the content of your site. 
        here is also no JavaScript, no sea of CSS files and no heavy images.</p>
      </section>

      <section>
        <h3>Semantic HTML</h3>
        <p>This theme produces readable HTML, without classes and inline styles. 
          All styling is provided by a single file: <a href="https://watercss.kognise.dev/">water.css</a></p>
      </section>

      <section>
        <h3>Adaptive</h3>
        <p>Honors system preference for light/dark theme. 
        Fits well to all screen sizes, layouts and zoom levels.</p>
      </section>