    <nav style="display: flex; flex-wrap: wrap; gap: 1em; align-items: end;">
      <div>
        <h1 style="margin: 0 0 -0.17em 0;"><a href="{{ site.base_url }}">
          Water
        </a></h1>
        <p style="margin: 0">A theme for cobalt</p>
      </div>
      
      <div style="flex-grow: 1"></div>

      <a href="{{ site.base_url }}/start"><span>Start</span></a>
      <a href="{{ site.base_url }}/showcase"><span>Showcase</span></a>
      <a href="https://github.com/aljazerzen/cobalt-theme-water"><span>Repository</span></a>
    </nav>