  <nav style="display: flex; flex-wrap: wrap; gap: 1em; align-items: end;">
    <h1 style="margin: 0 0 -0.17em 0;"><a href="/">
      <img src="/public/images/logo.svg" width="50" />obalt
    </a></h1>
    
    <div style="flex-grow: 1"></div>

    <a href="/getting-started" class="button start"><span>Start</span></a>
    <a href="/docs" class="button docs"><span>Reference</span></a>
    <a href="/news" class="button news"><span>News</span></a>
    <a href="https://github.com/cobalt-org/cobalt.rs/blob/master/CONTRIBUTING.md" class="button contrib"><span>Contribute</span></a>
    <a href="/help" class="button help"><span>Help!</span></a>
  </nav>